# IntelliJ IDEA
.idea/

# Скомпилированный код
out/

# Директории зависимостей
target/
node_modules/

# Логи
*.log

# Файлы, специфичные для IDE
*.iml
*.ipr
*.iws

# Файлы, специфичные для операционной системы Linux
*~

# Файлы, специфичные для ОС Linux и версионирования Git
.*.swp
.*.swo